{{!-- User Posts Feed with Cards --}}

<div class="container">
    <div class="card-columns ">
        <div class="card potties" style=" width: 18rem;">

            <img src="../public/images/21577fac71c1839.jpg" class="card-img-top" alt="#">
            <div class="card-body">
                <a href="http://locolseattle.com/" target="_blank" class="location-link">Location Link</a>
                <br>

                <div class="description-box">
                    <span>This is where description goes</span>
                </div>

            </div>
        </div>

    </div>
</div>