<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- CSS Stylesheet --}}
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light" rel="stylesheet">

    {{!-- Cloudinary JS --}}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
    </script>

    {{!-- googleAuth --}}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="89500782855-dpq49kjrgujojvi8ffjf4o3ccchkh9oc.apps.googleusercontent.com">

    <title>Instapotty</title>

</head>

<body>
    {{!-- NAVBAR START --}}
    <nav class="justify-content-between navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">Instapotty</a>
        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {{!-- HOMEPAGE/FEED --}}
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                {{!-- When logged in this should appear with links to all user posts, etc. --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="account" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{!-- Username --}}
                        Username
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                {{!-- This should be replaced by the accounts when user is logged in --}}
                <li class="nav-item">
                <li>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </li>
                </li>
            </ul>

        </div>
    </nav>
    {{!-- NAVBAR END --}}

    {{!-- Dynamically generated body element --}}
    {{{body}}}

    {{!-- GOOGLE MAP AND INFO-WINDOW PIN THAT WILL GO INSIDE MODAL  --}}
     <!-- Map div -->
    <div id="map"></div>
    <!-- Place info content -->
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <div id="place-name" class="title"></div><br>
        <div id="place-url"></div>
    </div>

    {{!-- Static files --}}
    <script src="js/interactions.js" type="text/javascript"></script>
    {{!-- <script src="js/ajax_calls.js" type="text/javascript"></script> --}}

    {{!-- Google MAPS Javascript API --}}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_PUNv54yTvxfJAtR3M9J1WrfD2xHsYs8&libraries=places&callback=initMap"
        async defer></script>

</body>

</html>