{{!-- Feed area --}}
<div class="container">

    {{!-- Populate the page with all posts --}}
    {{#if feed}}

    <h1>In Feed</h1>
    <div class="d-flex justify-content-around flex-wrap" id="feed-container">
        {{!-- Populate page with all images in database --}}
        {{#each images}}

        {{> feed/feed-block }}

        {{/each}}
    </div>

    {{!-- Populate page with all user's posts --}}
    {{else if post}}

    {{!-- Iterate through all items in images --}}
    {{#each images}}

    {{!-- Get all posts with specified userID --}}
    {{> posts/posts-block}}

    {{/each}}

    {{!-- Populate page with user's favorited posts --}}
    {{else if favorites}}


    {{/if}}

    {{!-- Submit form for logged in users to upload new posts--}}
    {{#if loggedIn}}
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                {{!-- Post method to images db/api --}}

                <form>

                    <button id="upload_widget" type="button" class="cloudinary-button">Upload Image</button>

                    <div id="thumbnail">

                    </div>


                    <label>Location</label>
                    <input type="text" name="location" id="userInput"> <br>
                    <button type="button" id="autoComplete">Search Location</button>

                    <label>Public or Private Location?</label>
                    <br>
                    <input type="radio" name="public" value="public"> Public<br>
                    {{!-- <input type="radio" name="public" value="private"> Private<br> --}}

                    <label>Category</label>
                    <select name="form-control" id="category" required>
                        <option value=" Default" selected disabled>Potty Tags</option>
                        <option value="humor">Humor</option>
                        <option value="luxurious">Luxurious</option>
                        <option value="artistic">Artistic</option>
                        <option value="wisdom">Wisdom</option>
                    </select>
                    <br>

                    <label>Description</label>
                    <input type="text" name="description" id="description"><br>

                    <input type="submit" value="Submit" id="submit">

                </form>

            </div>
        </div>
    </div>
    {{/if}}
</div>