{{!-- Feed area --}}
<div class="container">
    
    {{!-- Populate page with all images in database --}}
    {{inFeed}}
        {{#each image}}

            {{!-- Only Populate Favorited Images --}}
            {{!-- sort by --}}
            {{#if favorites}}
                {{> feed/favorites-block }}

                {{!-- Otherwise populate all images sorted by either relevance or create date --}}
                {{else}}
                    {{> feed/feed-block }}

            {{/if}}

            
        {{/each}}

    {{!-- Populate page with all user's POSTS --}}
    {{else if inPost}}
        {{!-- Iterate through all items in images --}}
        {{#each image}}
            {{!-- Get all posts with specified userID --}}
            {{#if userID === 1}}
                {{> posts/posts-block}}
            {{/if}}

        {{/each}}






</div>
