{{!-- Feed area --}}
<div class="container">
    {{!-- Populating Feed Page --}}
    {{#each image}}

        {{!-- Only Populate Favorited Images --}}
        {{!-- sort by --}}
        {{#if favorited}}
            {{ > feed/favorites-block }}
            {{!-- Otherwise populate all images sorted by either relevance or create date --}}
            {{else}}
                {{> feed/feed-block }}

        {{/if}}

        
    {{/each}}

    {{!-- Populate all posts that User posted --}}
    {{#each images}}
        
        {{!-- if posterID = userID --}}
        {{#if posterID }}
            {{> posts/posts-block }}
        {{/if}}

    {{/each}}

</div>
