{{!-- Populate the page with all posts --}}

<div class="container-fluid">
    <div class="fav-icon float-left" title="Order by Favorites">

        <img id="sort-by-fav" src="/images/favIcon.png" style="width:90px;">

    </div>
</div>

{{!-- Populate page with all images in database --}} {{!-- if myPosts === true  --}}
<div class="container" id="feed-container">
    <div class="card-columns ">
        {{#each images}}

        {{> feed/feed-block url=this.url}}

        {{/each}}
    </div>
</div>




{{!-- Submit form for logged in users to upload new posts--}}
{{!-- Hide this form unless they are logged in --}}