/* form.signup, form.login {
  margin-top: 50px;
} */

body {
  background-image: url(../images/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#upload_widget {
  background-color: #e24e42;
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  margin: 5px;
}

.flex-container {
  background-color: rgba(0, 143, 149, 0.5);
  border-radius: 20px;
  padding: 20px;

}