{{!-- Populates page with posts that user has favorited  --}}

{{!-- Create divs for each image --}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is where images will be!</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>