{{!-- Populates all posts from all users (Ordered by most recent by default)--}}


<div class="card potties" style=" width: 18rem;">

  <img src="{{url}}" class="card-img-top" alt="#">

  <div class="card-body">
  </div>
</div>
