{{!-- Populates all posts from all users (Ordered by most recent by default)--}}


<div class="card potties" style=" width: 18rem;">

  <img src="{{url}}" class="card-img-top" alt="#">
  <div class="card-body">
    <a href="http://locolseattle.com/" target="_blank" class="location-link">Location Link</a>
    <br>

    <div class="description-box">
      <span>This is where description goes</span>
    </div>

  </div>
</div>