{{!-- Populates all posts from all users (Ordered by most recent by default)--}}


<div class="card potties" style=" width: 18rem;">

  <img src="{{url}}" class="card-img-top" alt="#">

  <div class="card-body">
    <div class="row">
      <div class="col md-4">
        <span class="float-left" style="color: white;">Location Link</span>
      </div>
      <div class="col md-4">
        <img class="add-favs align-center" Title="fav this bathroom!" src="images/favIcon.png" style="width: 50px;">
      </div>
      <div class="col md-4">
        <span id="tags-link" class="tags float-right">Tag
          goes here</span>
      </div>
      <br>

    </div>

    <div class="description-box">
      <span>This is where description goes</span>
    </div>

  </div>
</div>
