{{!-- Populates all posts from all users (Ordered by most recent by default)--}}


<div class="card potties animated bounceInDown" style=" width: 20rem;">

  <img src="{{url}}" class="card-img-top" alt="#">

  <div class="card-body">

    <span class="float-left" id="location-link">{{location_name}}</span>

    <span id="tags-link" class="tags float-right">{{tag}}</span>

    <br>

    <div class="description-box">
      <span>{{description}}</span>
    </div>

  </div>
</div>